.design-container {
  box-sizing: border-box;
  min-height: 70vh;
  width: 95vw;
  padding: 4vh 3vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.page-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.task-container .cancel {
  text-decoration: line-through;
  color: #828181;
  font-weight: 400;
}

.week {
  width: 22vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.topic {
  width: auto;
  margin-top: 4vh;
  font-size: 1.25rem;
  padding: 7px 12px;
  background: #f0e7f6;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vh 1vw;
}

.next {
  background: #ffdce0;
}

p {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #5a5a65;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-content {
  width: 90vw;
  min-height: 50vh;
  background: #f8f8f8;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 2vh 0;
}

.task-img {
  width: 19vw;
  height: auto;
  margin: 2vh 1vw;
}

.search-bar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  width: 70%;
  display: inline;
  box-sizing: border-box;
  padding: 4px;
  margin: 0.2rem 1vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar > button {
  padding: 3px 5px;
}

.addtask,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  margin: 0.2rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  background: #ccc;
  border: none;
  padding: 6px;
  font-size: 1rem;
  border-radius: 8px;
  margin: 0.8vh 0;
}

@media screen and (max-width: 900px) {
  .design-content {
    width: 90vw;
    min-height: 50vh;
    background: #f8f8f8;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2vh 0;
  }
  .week {
    width: 90%;
  }
  .week:nth-child(1) {
    order: 4;
  }
}
@media screen and (max-width: 550px) {
  .design-content {
    grid-template-columns: 1fr;
  }

  .week {
    width: 95%;
  }

  .week:nth-child(1) {
    order: 0;
  }

  .task-img {
    width: 60vw;
  }
}
