.main-container {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #15053d;
  height: 10vh;
  width: 98.8vw;
}
